/*Shared CSS classes*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #31375D;
  color: #F2F3F5;
}

#root {
	transition-duration: 1s;
	position: absolute;
	height: 100%;
	width: 100%;
}

.list-item {
  text-align: center;
	display: flex;
	transition: transform 1s ease-in-out;
	margin: 0 50px;
	list-style: none;
	text-align: center;

}

.flex-auto {
	vertical-align: center;
	horizontal-align: center;
	flex: auto;
}

.flex-60 {
	flex: 60%;
}

.flex-20 {
	flex: 20%;
}

.flex-80 {
	flex: 80%;
}

.list-item-field {
	background-color: #31375D;
	color: #F2F3F5;
	font-size: 20px;
	text-decoration: none;
	margin-right: 70px;
	margin-left: 20px;
	border-radius: 5px;
}

.button-format {
	background-color: #EEB5B7;
	color: #31375D;
	height: 75px;
	border: none;
	outline: 0;
	border-radius: 5px;
	font-size: 20px;
}

	.button-format:hover {
		background-color: #27CECF;
	}

/*dkblu: #31375D*/
/*lt purple #93708D*/
/*ltblue #D0E7F0*/
/*ltblue: #ABCFE0*/
/*white: #F2F3F5*/
/*peach: #EEB5B7*/
/*bright blu: #27CECF*/
