/*burger menu*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
	background-color: #31375D;
	transition-duration: 1s;
	position: absolute;
	height: 100%;
	width: 100%;
}

.burger-menu {
	top: 0;
	position: absolute;
	left: -200px;
	width: 200px;
	height: 100%;
	text-align: left;
	background-color: #000000
}

#menu-activator {
	position: fixed;
	top: 15px;
	left: 15px;
}

.burger-menu-items {
	position: fixed;
	left: 0;
	width: 250px;
	transform: translateX(100%);
	transition: transform 1s ease-in-out;
	background-color: #000000;
	text-decoration: none;
	list-style-type: none;
	list-style: none;
}

.burger-menu-items-view {
	transform:translateX(0);
}


/*home page with three buttons */

/*dkblu: #31375D*/
/*lt purple #93708D*/
/*ltblue #D0E7F0*/
/*ltblue: #ABCFE0*/
/*white: #F2F3F5*/
/*peach: #EEB5B7*/
/*bright blu: #27CECF*/

.Home {
	height: 100%;
	background-color: #31375D
}


.Home ul li {
	background-color: rgba(49, 55, 93, 0.8);
	color: #F2F3F5;
	transition: transform 1s ease-in-out;
	-webkit-transition: -webkit-transform 1s ease-in-out;
}

.Home ul {
	margin-top: 60px;
	left: 0;
}

.stepThree {
  list-style: none;
}

.stepFour {
  list-style: none;
}


.list-item {
  text-align: center;
	display: flex;
	transition: transform 1s ease-in-out;
	border-color: #D0E7F0;
}

.image-flex {
	flex: 10%;
}

.list-flex {
	flex: 60%;
	background-color: #31375D;
	color: #93708D;
	font-size: 2em;
}

.list-flex-smaller {
	flex: 60%;
	background-color: #31375D;
	color: #93708D;
	font-size: 1em;
}

/*make a class on Home page to assign color"white" and put hover action on that*/

	.list-flex:hover{
		color: #27CECF;
	}

.weekday {
  text-align: center;
  font-size: 1.5em;
}
  .weekday:hover {
    color: #27CECF
  }

button {
	outline:0;
	border: none;
}

.pres-page-list-item {
	background-color: #27CECF;
	color: #31375D;
}

#add-pres-link {
	text-decoration: none;
	color: #F2F3F5;
}

	#add-pres-link:hover {
		color: #27CECF;
	}

.prescription-page-list {
	background-color: #27CECF;
}

.closed-bottle {
	background-repeat: no-repeat;
}

.open-bottle {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	background-repeat: no-repeat;
}

/*add PRescription PAge*/

.add-presc-page ul {
	margin-top: 60px;
	margin-left: 10px
}

.add-pres-list-item {

}

#dailyFrequency {
  text-align: center;
}

.freq {
  text-align: center;
  background-color: #31375D;
	color: #93708D;
	font-size: 2em;
}
  .freq:hover{
		color: #27CECF;
	}

#frequency {
  text-align: center;
}

.add-pres-input {
	background-color: #D0E7F0;
}

	.add-pres-input::placeholder {
		color: #93708D;

	}

.start-date {
  background-color: #D0E7F0;
  color: #93708D;
  font-size: 2em;
}

.pres-test {
	animation: FadeIn 1s linear;
	animation-fill-mode: both;
}

	.pres-individual-test li:nth-child {
		animation-delay: 1s;
	}




/* Shared */
.google-login {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.google-login:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.google-login:focus {
  outline: none;
}
.google-login:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}



/* Google */
.google-login {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.google-login:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.google-login:hover,
.google-login:focus {
  background: #E74B37;
}
